parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - config/bootstrap.php
    paths:
        - src/
    ignoreErrors:
    	- '#Call to static method now\(\) on an unknown class Cake\\I18n\\FrozenTime#'
