parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - config/bootstrap.php
    paths:
        - src/
        - tests/
    ignoreErrors:
    	- '#Call to static method now\(\) on an unknown class Cake\\I18n\\FrozenTime#'
    	- '#Instantiated class Cake\\I18n\\FrozenTime not found#'
